{% extends 'base.html.twig' %}

{% block title %}{{ course.name }} / StudyOn{% endblock %}

{% block body %}
    <h1>Редктировать курс</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('course_index') }}">Вернуться к списку курсов</a>
{% endblock %}
